<template name="post">
	<div class="media">
		<div class="media-object pull-left">
			<img src="{{ownerPicture}}" alt=""/>
		</div>
		<div class="media-body">
			<h5 class="media-heading">
				<blockquote>
					{{#if isComment}}
					{{content}}<br>
					{{/if}}
					{{#if isPicture}}
					<img src="{{content}}" alt="">
					{{/if}}
					<small>
						{{#with owner}}
						<a href="{{pathFor 'userShow'}}"><i>{{profile.name}}</i></a>
						{{/with}}
					</small>
				</blockquote>
			</h5>
		</div>
	</div>
</template>