<template name="post">
	<div class="media">
		<div class="media-object pull-left">
			<img src="{{ownerPicture}}" alt=""/>
		</div>
		<div class="media-body">
			<blockquote>
				{{#if isComment}}
				"{{content}}"
				{{/if}}
				{{#if isPicture}}
				<img src="{{content}}" alt="">
				{{/if}}
				<br>
				<small class="">
					{{#with owner}}
					<a href="{{pathFor 'userShow'}}"><i>{{profile.name}}</i></a>, {{timeAgo}}
					{{/with}}
					{{#unless userHasVoted}}
					<span>
						&nbsp;|&nbsp;
						<a href="#" id="bonus">
							<i class="fa fa-thumbs-o-up"></i>
						</a> - 
						<a href="#" id="malus">
							<i class="fa fa-thumbs-o-down"></i>
						</a>
					</span>
					{{/unless}}
				</small>
			</blockquote>
		</div>
	</div>
</template>