<template name="placeShow">
	<div class="row">
		{{#if isAdmin}}
		<div class="pull-right">
			<a class="btn btn-default btn-sm" href="{{pathFor "placeEdit"}}">
				<i class="fa fa-wrench fa-2x"></i>
			</a>
			<a id="remove" class="btn btn-warning btn-sm" href="#">
				<i class="fa fa-times fa-2x"></i>
			</a>
		</div>
		{{/if}}

		<div class="media col-xs-12">
			<img src="{{placePicture}}" alt="" class="img-thumbnail media-object pull-left" style="margin-bottom:12px">
			<div class="media-body col-xs-12 col-sm-8">
				<h2 class="media-heading">{{name}}</h2>
				<blockquote>
					<small>
						<i class="fa fa-map-marker"></i>&nbsp;
						{{shortenedAdress address}}
					</small>
				</blockquote>
			</div>
		</div>
	</div>

	{{#if gigsToCome.count}}
	<div class="row">
		<div class="container">
			<div class="page-header">
				<h4>Évènements à venir :</h4>
			</div>
			<div class="col-sm-9">
				<div class="list-group">
					{{#each gigsToCome}}
					{{> gigItem}}
					{{/each}}
				</div>
			</div>
		</div>
	</div>
	{{/if}}

	{{#if pastGigs.count}}
	<div class="row">
		<div class="container">
			<div class="page-header">
				<h4>Évènements passés :</h4>
			</div>
			<div class="col-sm-9">
				<div class="list-group">
					{{#each pastGigs}}
					{{> gigItem}}
					{{/each}}
				</div>
			</div>
		</div>
	</div>
	{{/if}}
</template>