<template name="placeShow">
	{{#if isAdmin}}
	<div class="pull-right">
		<a class="btn btn-default btn-sm" href="{{pathFor "placeEdit"}}">
			<i class="fa fa-wrench fa-2x"></i>
		</a>
		<a id="remove" class="btn btn-warning btn-sm" href="#">
			<i class="fa fa-times fa-2x"></i>
		</a>
	</div>
	{{/if}}

	<div class="row">
		<div class="media col-xs-12">
			<img src="{{placePicture}}" alt="" class="img-thumbnail media-object pull-left" style="margin-bottom:12px">
			<div class="media-body col-xs-12 col-sm-8">
				<h2 class="media-heading">{{name}}</h2>
				<blockquote>
					<small>
						<i class="fa fa-map-marker"></i>&nbsp;
						{{shortenedAdress address}}
					</small>
				</blockquote>
			</div>
		</div>
	</div>

	<br>

	<div class="list-group">
		{{#each gigs}}
		{{> gigItem}}
		{{/each}}
	</div>
</template>