<template name="userShow">
	{{#if posts.count}}
	<div class="page-header">
		<h4>Commentaires :</h4>
	</div>
	<div class="list-group">
		{{#each posts}}
		{{>post}}
		{{/each}}
	</div>
	{{else}}
	<small>Aucun commentaire posté.</small>
	{{/if}}
</template>

<template name="userProfile">
	<div class="container">
		<div class="media">
			<img src="{{currentUserImage}}" alt="Image du profil" class="pull-left">
			<div class="media-body">
				<strong>
					<h4 class="media-heading">
						{{currentUser.profile.name}}
					</h4>
				</strong>
				<blockquote>
					{{#if userHasVoted}}
					<p>
						<strong>Merci d'avoir voté.</strong>
					</p>
					{{>userActions}}
					{{>commentModal}}
					{{else}}
					{{>userVote}}
					{{/if}}
				</blockquote>
			</div>
		</div>
	</div>
</template>

<template name="userVote">
	<div class="input-group">
		<div class="rating">
			<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
		</div>
	</div>
	
	<div class="input-group">
		<div class="rateit" data-rateit-value="3"></div><br>
	</div>
	
	<div class="input-group">
		<small>
			<label>
				<input type="checkbox" value="">
				Publier sur mon mur
			</label>
		</small>
	</div>

	<button type="button" class="btn btn-primary" id="vote"><i class="fa fa-lg fa-star">&nbsp;&nbsp;</i><strong>Voter</strong></button><br>
</template>

<template name="userActions">
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#commentModal"><i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;<strong>Commenter<strong></button>
	<button type="button" class="btn btn-success" id="postPicture"><i class="fa fa-camera"></i>&nbsp;&nbsp;<strong>Poster une photo<strong></button>
</template>