<template name="artistShow">
	{{#if isAdmin}}
	<div class="pull-right">
		<a class="btn btn-default btn-sm" href="{{pathFor "artistEdit"}}">
			<i class="fa fa-wrench fa-2x"></i>
		</a>
		<a id="remove" class="btn btn-warning btn-sm" href="#">
			<i class="fa fa-times fa-2x"></i>
		</a>
	</div>
	{{/if}}

	<div class="row">
		<div class="media col-xs-12">
			<img src="{{artistPicture}}" alt="" class="img-thumbnail media-object pull-left" style="margin-bottom:12px">
			<div class="media-body col-xs-12 col-sm-8">
				<h2 class="media-heading">{{name}}</h2>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="container">
			<div class="page-header">
				<h4>Évènements à venir :</h4>
			</div>
			<div class="col-sm-9">
				<div class="list-group">
					{{#each gigsToCome}}
					{{> gigItem}}
					{{else}}
					<small>Aucun évènement à venir.</small>
					{{/each}}
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="container">
			<div class="page-header">
				<h4>Évènements passés :</h4>
			</div>
			<div class="col-sm-9">
				<div class="list-group">
					{{#each pastGigs}}
					{{> gigItem}}
					{{else}}
					<small>Aucun évènement passé.</small>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</template>