<template name="gigShow">
	<div class="row">
		<div class="container">
			{{#if isAdmin}}
			<div class="pull-right">
				<a class="btn btn-default btn-sm" href="{{pathFor "gigEdit"}}">
					<i class="fa fa-wrench fa-2x"></i>
				</a>
				<a id="remove" class="btn btn-warning btn-sm" href="#">
					<i class="fa fa-times fa-2x"></i>
				</a>
			</div>
			{{/if}}
			<div class="media">
				<img src="{{gigPicture}}" alt="" class="img-thumbnail media-object pull-left" style="margin-bottom:12px">
				<div class="media-body col-sm-7 col-xs-12">
					<div class="container">
						<div class="row">
							<h2 class="media-heading">
								{{#with artist}}
								<a href="{{pathFor "artistShow"}}">{{name}}</a><br>
								{{/with}}
								<small>
									<i class="fa fa-calendar"></i>&nbsp;
									{{calendar date}}
								</small>
							</h2>
							<br>
							<blockquote>
								{{#with place}}
								<a href="{{pathFor "placeShow"}}">{{name}}</a><br>
								{{/with}}
								<small>
									{{shortenedAdress place.address}}
								</small>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>


	{{#if currentUser}}
	{{#unless isAdmin}}
	<br>
	{{>user}}
	{{/unless}}
	{{/if}}
</template>